{% extends 'base.html.twig' %}

{% block title %}New Wishlist{% endblock %}

{% block body %}
    <h1>Create new Wishlist</h1>

    {{ include('whishlist/_form.html.twig') }}

    <a href="{{ path('app_whishlist_index') }}">back to list</a>
{% endblock %}
